body {
    background-color: #ffdab9;
   font-family: Georgia, 'Times New Roman', Times, serif;4
}

.wrapper {
  
}

.leftSide{
  display: inline-block;
  position: absolute;
  left: 200px;
  width: 200px;
  height: 120px;
  margin-top: 100px;
  
}

hr {
    border: 10px solid #808080;
  border-radius: 5px;
}

.rightSide {
    display: inline-block;
    position: absolute;
    right: 200px;
    width: 250px;
    height: 120px;
    margin-top: 100px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  border-radius: 50%;
}

h1 { color: #2f4f4f; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal;
    line-height: 48px;
    margin: 0; }

h2 { color: #F08080; 
  font-size: 48px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px; }
